{% trans_default_domain 'FOSUserBundle' %}

<h1>Profile Details</h1>
<div class="fos_user_user_show">
    <p>{{ 'profile.show.firstName'|trans }}: {{ user.firstName }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
